<!-- Open-source project: https://github.com/skye2k2/familyhistoryskills.git -->

<!-- BEGIN ADDED BY header.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="author" href="https://github.com/skye2k2" />
    <meta name="google-site-verification" content="wnMwNMCUcKCvHHmd9KLEG0QD67X0f0q7jHiBQs12WKM" />
    <meta name="description" content="Easy free online family history checklist, focusing on free FamilySearch genealogy tools. Answers to common FamilySearch questions and pitfalls, and links to current additional information, guides, and walkthroughs. Track and improve your family history skills today." />

    <!-- Load external scripts and styles, falling back to local copies if unreachable or offline -->

    <script type="text/javascript">
    function loadCSS(url, localPath) {
      var url = url,
          head = document.getElementsByTagName('head')[0],
          link = document.createElement('link');

      if (!window.navigator.onLine) {
        url = localPath;
      }

      link.rel = "stylesheet";
      link.type = "text/css";
      link.href = url;

      head.appendChild(link);
    }

    loadCSS("//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css", "assets/css/bootstrap.min.css");
    loadCSS("//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap-theme.min.css", "assets/css/bootstrap-theme.min.css");
    </script>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript">window.jQuery || document.write('<script src="vendor/js/jquery-2.1.4.min.js"><\/script>')</script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript">typeof $().modal == 'function' || document.write('<script src="vendor/js/bootstrap-3.3.4.min.js"><\/script>')</script>

    <script type="text/javascript">typeof window.localStorage == 'object' || document.write('<script src="vendor/js/localStoragePolyfill.js"><\/script>')</script>

    <!-- TODO: ADD LOCAL FALLBACKS -->
    <script type="text/javascript" src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/firebasejs/3.6.6/firebase-app.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/firebasejs/3.6.6/firebase-auth.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/firebasejs/3.6.6/firebase-database.js"></script>
    <script type="text/javascript">
      var firebaseConfig = {
            apiKey: "AIzaSyCba2vGgbYQoDWetBL3x6yIvVm_33cXlE0",
            authDomain: "familyhistoryskills.firebaseapp.com",
            databaseURL: "https://familyhistoryskills.firebaseio.com",
            storageBucket: "familyhistoryskills.appspot.com",
            messagingSenderId: "485405197780"
      },
      DEFAULT_LOCALE = "en",
      locale = (window.navigator.userLanguage || window.navigator.language || DEFAULT_LOCALE).substr(0, 2).toLowerCase(),
      lang;
      firebase.initializeApp(firebaseConfig);
    </script>
  </head>
  <body>
  <% include navigation %>
  <!-- END ADDED BY header.ejs -->
