<!-- BEGIN ADDED BY navigation.ejs -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img alt="" src="images/logo.png">
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <!-- We will likely put the walkthroughs and question lists under this main menu -->
<!--       <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="/overview" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Competencies <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/overview">Competencies Overview</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/overview#account-management"></a></li>
          </ul>
        </li>
      </ul> -->

      <ul class="nav navbar-nav navbar-right">

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="https://fhc.familysearch.org/" target="_blank"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> Family History Center Services</a></li>

            <li><a href="https://familysearch.org/apps/" target="_blank"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> FamilySearch Applications</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Links <span class="caret"></span></a>
          <ul class="dropdown-menu">

<!-- BEGIN MEMBER CONTENT -->

            <li><a href="#">Doctrinal Support</a></li>

            <li><a href="https://www.lds.org/ensign/1995/02/a-temple-motivated-people.p1" target="_blank"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> Both Halves of the Blessing</a></li>

            <li><a href="https://www.lds.org/ensign/2015/10/protecting-our-youth-through-family-history" target="_blank"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> Protecting Our Youth through Family History</a></li>

            <li><a href="https://www.lds.org/youth/video/simple-steps-to-find-powerful-spiritual-protection" target="_blank"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> Simple Steps to Find Powerful Spiritual Protection</a></li>

<!-- END MEMBER CONTENT -->

          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- END ADDED BY navigation.ejs -->
