<!-- BEGIN ADDED BY navigation.ejs -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img alt="" src="images/logo.png">
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav">
        <li class="dropdown internalLinks">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages<span class="caret"></span></a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">

        <li class="dropdown resourceLinks">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources <span class="caret"></span></a>
        </li>

<!-- BEGIN MEMBER CONTENT -->
        <li class="dropdown memberLinks">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">LDS Links <span class="caret"></span></a>
        </li>
<!-- END MEMBER CONTENT -->
      </ul>
    </div>
  </div>
</nav>

<script type="text/javascript">

  firebase.database().ref("/locales/" + locale).once("value").then(function(snapshot) {
    lang = snapshot.val();

    // Fall back to english, if no translation exists for the current locale
    if (!lang) {
      firebase.database().ref("/locales/en").once("value").then(function(snapshot) {
        lang = snapshot.val();
      });
    }

    lang.navigation.forEach(function (linkList) {
      var $links = $("<ul class='dropdown-menu'></ul>");
      var listName = Object.getOwnPropertyNames(linkList)[0];
      $("." + listName + " [data-toggle=dropdown]").html(linkList[listName].text + " <span class='caret'></span>");

      linkList[listName].links.forEach(function (link) {
        $links.append("<li><a href='" + link.url + "' " + ((listName !== "internalLinks")? "target='_blank'><span class='glyphicon glyphicon-link' aria-hidden='true'></span> ": ">") + link.text + "</a></li>");
      });
      $("." + listName + ".dropdown").append($links);
    });
  });

</script>
<!-- END ADDED BY navigation.ejs -->
