<% include partials/header %>

  <main class="loading">
    <article>
      <hgroup>
        <h1 class="header-title">&nbsp;</h1>
        <!-- <h2 class="header-subtitle">&nbsp;</h2> -->
      </hgroup>
      <div class="spinner"></div>

      <section class="total-completeness">
        <h3 class="header-total-completeness">&nbsp;</h3>
        <div class="progress">
          <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
          </div>
        </div>
      </section>

      <p><a class="expand-collapse" onclick="expandAll()">&nbsp;</a></p>

      <form class="checklist">
        <!-- content injected by checklist.ejs -->
      </form>
    </article>
  </main>

<% include partials/checklist %>
<% include partials/footer %>
