<% include partials/header %>

  <main>
    <article>
      <hgroup>
        <h1 class="header-title">&nbsp;</h1>
        <!-- <h2 class="header-subtitle">&nbsp;</h2> -->
      </hgroup>

    </article>
  </main>

<% include partials/footer %>
