<% include partials/header %>

  <main>
    <article>
      <hgroup>
        <h1 class="header-title">Family History Quick Reference</h1>
        <h2 class="header-subtitle">Frequently-asked questions</h2>
      </hgroup>

      <!-- TODO: ADD STRINGS TO DATABASE FOR TRANSLATION AND AUTO-GENERATE THIS CONTENT -->

      <details open>
        <summary>
          <a class="anchor" aria-hidden="true"></a>Core FamilySearch Competencies</summary>
        <div class="content">
        </div>
        <details>
          <summary>
            <a class="anchor" aria-hidden="true"></a>Account Management</summary>
          <div class="content">
            <h4>LDS/FamilySearch Account Registration</h4>
            <p>What account credentials does FamilySearch use?</p>
            <ul>
              <li>FamilySearch uses your LDS account credentials. If you already have an LDS account (to log into LDS Tools or Gospel Library), this will be the same account you use to log into FamilySearch.</li>
            </ul>
            <p>What is needed to register an account?</p>
            <ul>
              <li>An email address or a textable phone number for verification, and access to it.</li>
              <li>The indiviudal's Membership Record Number (MRN), if a Latter-day Saint.</li>
            </ul>
            <p>Where do I find my Membership Record Number (MRN)?</p>
            <ul>
              <li>Your membership record number (MRN) can be found on your temple recommend, on an individual ordinance summary, or through a ward clerk or bishopric member via MLS or LDS Tools.</li>
            </ul>
            <p>Why is my Membership Record Number (MRN) needed?</p>
            <ul>
              <li>Your Membership Record Number (MRN) is the ID number that uniquely identifies you as a member of the Church of Jesus Christ of Latter-day Saints. Once your MRN is connected to your account, FamilySearch will allow you to view/reserve temple ordinances, and will also automaticaly create relationships for your children, spouse, and parents.</li>
            </ul>
            <h4>LDS/FamilySearch Account Settings</h4>
            <p>I want to show FamilySearch to a friend--can I disable temple-related information to do so?</p>
            <ul>
              <li>Yes. Navigate to User-->Settings-->Preferences-->Display and uncheck the box next to Show LDS Temple Info. Don't forget to re-check the box when you're done.</li>
            </ul>
            <p>Can I specify what personal information is shown to others on FamilySearch?</p>
            <ul>
              <li>Yes. Under User-->Settings-->Contact, you will be able to see and modify personal contact information. Next to each is a checkbox labeled Public. When checked, the corresponding information will be visible by anyone on FamilySearch.</li>
            </ul>
            <p>Can I cut down on the number of FamilySearch emails?</p>
            <ul>
              <li>Yes. Under User-->Settings-->Notifications, you can adjust what FamilySearch will notify you about.</li>
            </ul>
            <p>Do I get free access to Ancestry?</p>
            <ul>
              <li>For Latter-day Saint members (MRN linked to their account), FamilySearch has partnered with Ancestry, FindMyPast, MyHeritage, AmericanAncestors, and Geneanet to provide access to their records, free of charge! Navigate to <a href="https://familysearch.org/partneraccess" target="_blank">https://familysearch.org/partneraccess</a> for more information and to create and link your free accounts. You can view which accounts you have linked under User-->Settings-->Connected Accounts.</li>
            </ul>
          </div>
        </details>



    </article>
  </main>

<% include partials/footer %>
